input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 100%;
  font-size: 20px;
}

p {
  margin: 0;
}

.mainHeading{
  width: 60%;
  margin: auto;
}

.mainWrapper {
  margin-top: 10%;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 250px;
  overflow-y: auto;
  padding-left: 0;
  /* width: calc(300px + 1rem); */
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active {
  background-color: black;
  opacity: 0.5;
  color:gray;
  cursor: pointer;
  font-weight: 500;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.tag {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}

.noSuggestions {
  border: 1px solid #999;
  border-top-width: 0;
  margin-top: 0;
  height: 200px;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.autoCompleteWrapper {
  width: 60%;
  margin: auto;
  padding: 20px 0;
}

.heading {
  margin: 10px 0;
}
